template(name="homePage")
  div
    p.
      Hello, this is a small web app that helps you create a digital record of a friend or family member's personal history, through oral history requests sent via Facebook.